# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# kate
*.kate-swp

# other
eclipse
run
runs
.vscode

# datagen
generated